body {

}

.vertical-nav {
    position: absolute;
    min-height: 115vh;
    padding-top: 100px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}
.liste_size{

    margin-left:20%;
    min-width: 800px;

}

.button_liste{
    background-color: #d4423e;
}
.button_liste:hover{
    background-color: #a72925;
}
.btn{
    border-radius: 25px;
}
.homecontainer{
    padding-top: 230px;
    margin-bottom: 300px;
}


.logo{
 width: 80px;
;}

.wallpapers-list{
    margin-top: 15px;
    margin-bottom: 15px;
    background-size: 100%;
}

.list{
    min-height: 800px;
    background-color: white;
    margin-top: 150px;
    margin-bottom: 150px;
}
.inputTransparent{
    background: transparent;
}

.info-list{
    padding-top: 200px;
    padding-bottom: 100px;
}

.motif{
    z-index: 2;
    min-width: 10%;
    position: absolute;
    margin-top: -131px;
}

.timbre{
  position:absolute;
    z-index:1;
    width: 16%;
    margin-left: 20px;
    margin-top: 165px
}

.pagination-listes{
    position: absolute;
    z-index: 1;
    margin-top: 30vh;
}

.arrow_right{
    padding-left: 68vw;

 }
.arrow_left{
    padding-left: 10vw;
}

.fa-arrow-alt-circle-left:hover{
    color:#a72925;
}
.fa-arrow-alt-circle-right:hover{
    color:#a72925;
}

.reservation_santa_up{
    margin-left: 175px;
}
.liste_santa_gift{
    margin-left : 120px;
}
.no_gift{
    margin-top: 200px;
    margin-left: 50px;
}


.title_gift{

    font-size: 1.5em;
    color:#6e6e6e;
}

.description_gift{

    font-size: 1em;
}

.price_gift{
    color:#9683ec;
}

.button_reserved{
    backGround-color:white;
    border: 1px  #a72925 solid;

}
.button_reserved:hover{
    background-color: #a72925;
    color:white;
}
.reservation_fond{
    height:250px;
    width : 40%;
    border-radius: 20px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 150px;

}
.table_gift td {
    vertical-align: middle;
}

.deco_liste_bg{
    position:absolute;
    left:0;
    background-color: #7d8293;
    width: 350px;
    height: 500px;
}
.deco_liste_panel{
    margin-top: 50px;
}

.navbar{
    position:fixed;
    z-index: 3;
    font-size: 14px;
    margin-bottom: -150px;
    height: 80px;
    max-width: 2000px;
}
.picture_item{
    min-width: 15vh;
}

.text_title{
    font-size: 50px;
    color: #d4423e;
}
.text_content{
    font-size: 30px;
    color: #d4423e;
}

.text_slide{
    position: absolute;
    margin-left: 200px;
    margin-top: 340px;
}

.btn_slide{
    z-index: 1;
    margin-top: 25px;
    margin-left: 260px;
}
.btn_slide_btn{
    z-index:1;
    background-color: #d4423e;
    color: white;
}

.btn_slide_btn:hover {
    background-color: #a72925;
    color: white;
}

.liste_edit{
    position:absolute;
    margin-top: 10px;
    margin-left: 90%;
}


.section01{
    min-height: 600px;
    padding-top: 200px;
}
.section01_letter{
    margin-top: -120px;
}
.section02{
    min-height: 600px;
    padding-top: 150px;

}
.section02_bg{
    position: absolute;
    margin-top: -150px;
}
.snow_man{
    margin-top: 40px;

}

.snow_man > img {
    max-width: 320px;
    min-height: 150px;
}
.section03{
    min-height: 600px;
    padding-top: 150px;
}
.section04{
    min-height: 600px;
    padding-top: 150px;
}



.slide_background{
    min-height: 950px;
    max-width: 2000px;
}

.perso_slide_container{
    position: relative;
    max-width: 1900px;
}

.perso_slide{
    max-width: 1200px;
    right: 0;
    bottom: -910px;
    position: absolute;
}



.test{
    height: 500px;
    width: 100vw;
}
.testtest{
    height: 500px;
    background-color: #0d5aa7;
    min-width: 100vw;
}