body {

}
.homecontainer{
    padding-top: 100px;
    margin-bottom: 300px;
}

.contour-list{

}

.wallpaper-list{
    margin-top: 15px;
    margin-bottom: 15px;
    background-size: 100%;

}

.list{
    min-height: 800px;
    background-color: white;
    margin-top: 150px;
    margin-bottom: 150px;
}

.info-list{
    margin-top: 50px;
}

.motif{
    z-index: 1;
    position: absolute;
    margin-top: -131px;

}