body {

}
.homecontainer{
    padding-top: 100px;
    margin-bottom: 300px;
}

.contour-list{

}

.wallpaper-list{
    margin-top: 15px;
    margin-bottom: 15px;
    background-size: 100%;

}

.list{
    min-height: 800px;
    background-color: white;
    margin-top: 150px;
    margin-bottom: 150px;
}
.inputTransparent{
    background: transparent;
}

.info-list{
    padding-top: 200px;
    padding-bottom: 100px;
}

.motif{
    z-index: 1;
    min-width: 10%;
    position: absolute;
    margin-top: -131px;
}

.pagination{
    position: absolute;
    z-index: 1;
    margin-top: 30vh;
}

.arrow_right{
    padding-left: 68vw;

 }
.arrow_left{
    padding-left: 10vw;
}

.fa-arrow-alt-circle-left:hover{
    color:#a72925
}
.fa-arrow-alt-circle-right:hover{
    color:#a72925
}

.slide_background{
    min-width: 1500px;
}

.perso_slide_container{
    position: relative;
    max-width: 1900px;
}

.perso_slide{
    width: 50%;
    right: 0;
    bottom: -700px;
    position: absolute;
}

.navbar{
    border:0;
}